<template name="index">

  <div class="row">
    <section class="col-md-4 col-md-offset-4 index-menu">
      <img src="barry-headshot.jpg" class="circle-head">
      <h1>
        <span>Professor Nalebuff's</span>
        {{siteName}}
      </h1>
      {{#if currentUser}}
        <ul class="game-list">
          <li>
            <a href="{{pathFor route='game' gameKey='ultimatum'}}">
              Ultimatum game
            </a>
          </li>
          <li>
            <a href="{{pathFor route='game' gameKey='anchoring'}}">
              Anchoring game
            </a>
          </li>
          <li>
            <a href="{{pathFor route='game' gameKey='zincit'}}">
              Zincit case
            </a>
          </li>
          <li>
            <a href="{{pathFor route='game' gameKey='outpsider'}}">
              Outpsider case
            </a>
          </li>
        </ul>
        <button class="btn btn-primary logout">
          <span class="glyphicon glyphicon-log-out"></span>
          Logout
        </button>
      {{else}}
        {{#if usingCas }}
          {{> casLoginButton}}
        {{ else }}
          {{> loginButtons}}
        {{/if}}
      {{/if}}
    </section>
  </div>
</template>

<template name="casLoginButton">
  <button class="login cas-login">Login with Yale CAS</button>
</template>
