<template name="genericGameLayout">
  <div class="row">
    <section class="breadcrumb-holder col-md-6 col-md-offset-3">
      <ol class="breadcrumb">
        <li>
          <a href="/">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Home
          </a>
        </li>
        <li class="active">{{gameName}}</li>
      </ol>      
    </section>
  </div>
  <div class="row">
    <section class="greeting col-md-6 col-md-offset-3">
      {{gameName}}
      <span>step #{{stepNumber1}} of {{totalSteps1}}</span>
    </section>
  </div>
  <div class="row">
    <section class="col-md-6 col-md-offset-3">
      {{> UI.dynamic template=currTemplate}}
    </section>
  </div>
  <div class="row">
    <section class="next col-md-6 col-md-offset-3">
      {{#unless isDone}}
        <button type="button" class="btn btn-default nextStep {{gameKey}}-{{stepNumber}}" disabled="{{getSessionVariable 'disableNext'}}">Next</button>
      {{/unless}}
    </section>
  </div>
</template>


<template name="dollars">
  <strong>${{#if format}}{{formatNumerals amount format}}{{else}}{{amount}}{{/if}}{{#if units}}{{units}}{{/if}}</strong>
</template>

<template name="yesNoFormGroup">
  <div class="form-group">
    {{#if label}}
      <div>
        <label for="{{name}}" class="control-label">
          {{label}}
        </label>
      </div>
    {{/if}}
    <div>
      <label>
      <input type="radio" name="{{name}}" value="yes">
       {{#if yesText}}{{{yesText}}}{{else}}Yes{{/if}}
      </label>
    </div>
    <div>
      <label>
      <input type="radio" name="{{name}}" value="no">
        {{#if noText}}{{{noText}}}{{else}}No{{/if}}
      </label>
    </div>
  </div>
</template>


<template name="numberFormGroup">
  <div class="form-group">
    {{#if label}}
      <label id="{{name}}" for="{{name}}" class="control-label">
        {{label}}
      </label>
    {{/if}}
    <input class="form-control validate-number" type="number" id="{{name}}" name="{{name}}" min="{{min}}" max="{{max}}" required>
    {{#if help}}
      <div class="help-block">
        {{help}}
      </div>
    {{/if}}
  </div>
</template>
