@import "../lib/stylesheets/bootstrap/custom.bootstrap.import.less";

body {
	font-family: 'PT Sans', sans-serif;
}

.cover(@img){
  margin-top: (@line-height-computed);

  background: url(@img);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;	
  background-color: #282828;
}

body.cover-bg{
    margin-top: @line-height-computed;
	margin-bottom: (@line-height-computed * 3);

	.cover('splash-xs.jpg');
}
@media only screen and (min-width: 600px) {
  /* styles for wide screens */
    margin-top: (@line-height-computed * 3);

	body.cover-bg{
	  .cover('splash-sm.jpg');
	}
}
@media only screen and (min-width: 1200px) {
  /* styles for wide screens */

	body.cover-bg{
	  .cover('splash-md.jpg');
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	  only screen and (min--moz-device-pixel-ratio: 2),
	  only screen and (-moz-min-device-pixel-ratio: 2),
	  only screen and (-o-min-device-pixel-ratio: 2/1),
	  only screen and (min-device-pixel-ratio: 2),
	  only screen and (min-resolution: 192dpi),
	  only screen and (min-resolution: 2dppx) { 
	  /* styles for Retina-type displays */
	body.cover-bg{
	  .cover('splash-lg.jpg');
	}
}

section.breadcrumb-holder{
	padding-left:0;
	padding-right: 0;
}
ol.breadcrumb{
	.glyphicon{
		padding-right: (@line-height-computed / 4);
	}
	margin-bottom: (2 * @line-height-computed);
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
}
.greeting{
	// background-color: #ddd;
	border-bottom: 1px solid @navbar-default-border;
	margin-bottom: @line-height-computed;
	font-size: @font-size-h3;
	font-weight: bold;
	span{
		display: block;
		font-weight: normal;
		line-height: 1;
		color: @gray-light;
	}
}
section.next{
	margin-top: (@line-height-computed / 2);
}
.index-menu{
	background-color: rgba(255, 255, 255, 0.6);
	padding-bottom:2em;
	text-align:center;
	border: 1px solid rgba(255, 255, 255, 0.25);

	h1{
		font-family: 'PT Sans Narrow', sans-serif;
		span{
			text-transform: uppercase;
			font-weight:700;
			font-size: 75%;
			color: rgba(0, 0, 0, 0.5);
			display:block;
		}
	}

	ul{
		margin:2em 0;
		padding:0;
		list-style-type: none;
		li{
			display: block;
			background-color: rgba(255, 255, 255, 0.8);
			padding: 0.2em;
			margin: 0.5em 0;
			border: 1px solid #fff
		}
	}
}

.circle-head{
	margin: 20px 0;
	height: auto;
	width: 50%;
	max-width: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid rgba(10, 10, 10, 0.5);
}

.done{
	display: block;
	font-weight: 700;
	text-align:center;
	font-size: larger;
	background-color: #333;
	padding:1em;
	color:#eee;
	margin-top:2em;
}