<template name="outpsider-0">
  {{> caseRoles roles=roles}}
</template>

<template name="outpsider-1">
  <p>
    Did you reach an agreement?
  </p>

  <form>
    {{> yesNoFormGroup name="agreement" yesText="Yes &mdash; the magazine was sold to Iceberg Media" noText="No &mdash; the magazine was sold to Artagis"}}
  </form>
</template>

<template name="outpsider-2">
  <form>
    {{> numberFormGroup label="How much did Pat (Iceberg Media) pay to purchase the magazine and website?" help="(Please enter a number 0-1000000)" name="patPayment" min=0 max=1000000}}
  </form>
</template>

<template name="outpsider-3">
  <p>
    Did Helen agree to share with Cade the cost of taking less than $2/share? In other words, if the purchase price was $460k, Cade and Helen would each take $1.60/share for a total of $80,000 each while the Artagis and the Friends/Angels were paid out at $2/share.
  </p>
  <form>
    {{> yesNoFormGroup name="helenSharedLoss"}}
  </form>
</template>

<template name="outpsider-4">
  <p>
    Were there any non-cash benefits provided to either Cade or Helen?
  </p>

  <form>
    {{> yesNoFormGroup name="hadNoncash"}}
    {{#if hadNoncash}}
      <label for="noncash" class="control-label">
        Please describe those non-cash benefits.
      </label>
      <textarea id="noncashDescription" name="noncashDescription" class="form-control" rows="3"></textarea>
      <div class="help-block">
       (Please be brief.)
      </div>

      {{> yesNoFormGroup name="freeAdsStill" label="Did Pat continue to provide free ad pages to Helen?"}}
      {{#if freeAdsStill}}
        {{> numberFormGroup label="How many pages over the next three years?" help="(Please enter a number 1-36)" name="numFreePages" min=1 max=36}}
      {{/if}}
    {{/if}}
  </form>
</template>


<template name="outpsider-5">
  <p>
    In your case the expected payoffs were as follows:
  </p>

  <dl class="dl-horizontal">
    {{#each roleOutcomes}}
      <dt>{{name}}</dt>
      <dd>
        <strong>{{formatNumerals outcome "$0,0"}}</strong>
        {{#if ownRole}}
          (your role)
        {{/if}}
      </dd>
    {{/each}}
  </dl>

  {{#if gameStatus.agreementStatus}}
    <p>
        The payoff to Pat is based on a valuation of the business at
        $750,000 post tax. Thus, Pat's
        payoff from paying even his or her limit of $470,000 is
        $750k&nbsp;–&nbsp;$470k&nbsp;=&nbsp;$280k, which is better
        than his or her zero payoff from no deal and much, much better than
        getting fired for paying
        more than he or she was authorized to do (which we call a –$250k payoff).
      </p>
      <p>
        Absent any cost savings or website, the current business has no
        value (it has been breaking even). Given the risk involved, Pat
        estimates the potential value of this deal is $150k from the website
        plus $1m from the increased revenue and reduced costs or $1.150m
        in total pretax, $750k post-tax, minus the purchase price.
      </p>

  {{else}}
    <p>
      While no deal resulted in a zero payoff to Pat, this is better than
      the risk of being fired for
      exceeding his or her authority. Indeed, we assigned a payoff to Pat
      of –$250k for paying
      anything more than the authorized amount of $470k.

    </p>
    <p>
        Similarly, the fallback deal with Artagis at $1.60/share leads to
        an $80,000 payoff to Cade and
        Helen, which is better than the result from a bad deal with Iceberg.
    </p>
  {{/if}}

    <p>
      To give
      you some insight into the outcome of your negotiation relative to
      the rest of class, we compiled statistics for the various roles,
      below.
    </p> 

    {{#if outcomeStats}}
      <dl class="dl-horizontal">
        {{> zincit_rolestats roleName="Cade Hauber" thisRole="cade" userRole=role mean=outcomeStats.cade.mean deviation=outcomeStats.cade.deviation amount=gameStatus.outcomes.cade meanFormat="$0,0" deviationFormat="$0,0"}}
        {{> zincit_rolestats roleName="Helen Gansky" thisRole="helen" userRole=role mean=outcomeStats.helen.mean deviation=outcomeStats.helen.deviation amount=gameStatus.outcomes.helen meanFormat="$0,0" deviationFormat="$0,0"}}
        {{> zincit_rolestats roleName="Pat Bennett (Iceberg)" thisRole="pat" userRole=role mean=outcomeStats.pat.mean deviation=outcomeStats.pat.deviation amount=gameStatus.outcomes.pat meanFormat="$0,0" deviationFormat="$0,0"}}
      </dl>
    {{else}}
      <p>
        Calculating stats...
      </p>
    {{/if}}

    <p>
      <strong>Answer code</strong>: For students who
      are taking this course for a certificate, we are using the code
      below as a way of verifying that you completed this assignment. The
      correct answer to the Outpsider quiz is &ldquo;psi1587&rdquo;. Note that you
      should not include the quotation marks in your answer.
    </p>


</template>
