<template name="zincit-0">
  <p>
    What was your role in the case?
  </p>

  <form>
    <div class="form-group">
      {{#each roles}}
        <div>
          <label>
          <input type="radio" name="role" value="{{key}}">
           {{name}}
          </label>
        </div>
      {{/each}}
    </div>
  </form>
</template>

<template name="zincit-1">
  <p>
    Did you reach an agreement?
  </p>

  <form>
    {{> yesNoFormGroup name="agreement"}}
  </form>
</template>

<template name="zincit-2">
  {{#if agreementStatus}}
    <p>
      Please input both the &ldquo;upfront&rdquo; compensation and the &ldquo;bonus&rdquo; for FDA approval. Enter both amounts in millions. For example, if you agreed on option A you would input 25 and 0, while if you agreed on option D you would input 17 and 15 (as 7.5% of $200m is 15m).
    </p>

    <form >
      <div class="form-group">
        <label id="upfront" for="upfront" class="control-label">What is your &ldquo;upfront&rdquo; payment?</label>
        <input class="form-control validate-number" type="number" id="upfront" min="0" max="1000" required>
        <div class="help-block">
          (Enter a number in millions: 0-1,000)
        </div>
      </div>
      <div class="form-group">
        <label id="bonus" for="bonus" class="control-label">What is your &ldquo;bonus&rdquo; payment for FDA approval?</label>
        <input class="form-control validate-number" type="number" id="bonus" min="0" max="1000" required>
        <div class="help-block">
          (Enter a number in millions: 0-1,000)
        </div>
      </div>
    </form>
  {{else}}
    <p>Because you did not reach an agreement, you can skip
      to the next step.
    </p>
  {{/if}}
</template>

<template name="zincit-3">
  <form >
  <div class="form-group">
    <label id="negotiationTime" for="negotiationTime" class="control-label">
      How long did you take to negotiate?
    </label>
    <input class="form-control validate-number" type="number" id="negotiationTime" min="0" max="120" required>
    <div class="help-block">
      (Enter a number in minutes: 0-120)
    </div>
  </div>
</form>
</template>

<template name="zincit-4">
  <p>
    Did any of the parties attempt to calculate the pie?
  </p>

  <form>
    {{> yesNoFormGroup name="calculatedPie"}}
  </form>
</template>


<template name="zincit-5">
  <p>
    Did you renegotiate the lawyer’s compensation?
  </p>

  <form>
    {{> yesNoFormGroup name="renegotiatedLawyer"}}
  </form>
</template>

<template name="zincit-6">
  <form>
    {{> numberFormGroup label="What percent did the lawyer get of the upfront" help="(Please enter a number 0-100)" name="lawyerUpfront" min=0 max=100}}
    {{> numberFormGroup label="What percent did the lawyer get of the bonus" help="(Please enter a number 0-100)" name="lawyerBonus"  min=0 max=100}}
  </form>
</template>

<template name="zincit-7">
  <p>
    In your case the expected payoffs were as follows:
  </p>

  <dl class="dl-horizontal">
    <dt>Sam Massey:</dt>
    <dd>
      {{>dollars amount=gameStatus.outcomes.sam units="mm"}}
      {{#if equals gameStatus.role "sam"}}
        (your role)
      {{/if}}
    </dd>
    <dt>Dr. Hasan:</dt>
    <dd>
      {{>dollars amount=gameStatus.outcomes.hasan units="mm"}}
      {{#if equals gameStatus.role "hasan"}}
        (your role)
      {{/if}}
    </dd>
    <dt>Zincit Rep.:</dt>
    <dd>
      {{>dollars amount=gameStatus.outcomes.zincit units="mm"}}
      {{#if equals gameStatus.role "zincit"}}
        (your role)
      {{/if}}
    </dd>
  </dl>

  <p>Hasan mean = {{outcomeStats.hasan.mean}}</p>
</template>