<template name="zincit-0">
  {{> caseRoles roles=roles}}
</template>
<template name="caseRoles">
  <p>
    What was your role in the case?
  </p>

  <form>
    <div class="form-group">
      {{#each roles}}
        <div>
          <label>
          <input type="radio" name="role" value="{{key}}">
           {{name}}
          </label>
        </div>
      {{/each}}
    </div>
  </form>
</template>

<template name="zincit-1">
  <p>
    Did you reach an agreement?
  </p>

  <form>
    {{> yesNoFormGroup name="agreement"}}
  </form>
</template>

<template name="zincit-2">
  {{#if agreementStatus}}
    <p>
      Please input both the &ldquo;upfront&rdquo; compensation and the &ldquo;bonus&rdquo; for FDA approval. Enter both amounts in millions. For example, if you agreed on option A you would input 25 and 0, while if you agreed on option D you would input 17 and 15 (as 7.5% of $200m is 15m).
    </p>

    <form >
      {{> numberFormGroup label='What is your "upfront" payment?' help="(Please enter a number 0-100)" name="upfront" min=0 max=100}}
      {{> numberFormGroup label='What is your "bonus" payment?' help="(Please enter a number 0-100)" name="bonus" min=0 max=100}}
    </form>
  {{else}}
    <p>Because you did not reach an agreement, you can skip
      to the next step.
    </p>
  {{/if}}
</template>

<template name="zincit-3">
  <form >
  <div class="form-group">
    <label id="negotiationTime" for="negotiationTime" class="control-label">
      How long did you take to negotiate?
    </label>
    <input class="form-control validate-number" type="number" id="negotiationTime" min="0" max="120" required>
    <div class="help-block">
      (Enter a number in minutes: 0-120)
    </div>
  </div>
</form>
</template>

<template name="zincit-4">
  <p>
    Did any of the parties attempt to calculate the pie?
  </p>

  <form>
    {{> yesNoFormGroup name="calculatedPie"}}
  </form>
</template>


<template name="zincit-5">
  <p>
    Did you renegotiate the lawyer’s compensation?
  </p>

  <form>
    {{> yesNoFormGroup name="renegotiatedLawyer"}}
  </form>
</template>

<template name="zincit-6">
  <form>
    {{> numberFormGroup label="What percent did the lawyer get of the upfront" help="(Please enter a number 0-100)" name="lawyerUpfront" min=0 max=100}}
    {{> numberFormGroup label="What percent did the lawyer get of the bonus" help="(Please enter a number 0-100)" name="lawyerBonus"  min=0 max=100}}
  </form>
</template>

<template name="zincit-7">
  <p>
    In your case the expected payoffs were as follows:
  </p>

  <dl class="dl-horizontal">

    {{#each roleOutcomes}}
      <dt>{{name}}</dt>
      <dd>
        <strong>{{formatNumerals outcome "$0,0.00" "M"}}</strong>
        {{#if ownRole}}
          (your role)
        {{/if}}
      </dd>
    {{/each}}
  </dl>

  <p>
    In order to give you some insight into the outcome of
    your negotiation relative to the rest of class, we
    compiled statistics for the various roles, below.
  </p>

  {{#if outcomeStats}}
    <dl class="dl-horizontal">
      {{> zincit_rolestats roleName="Sam Massey" thisRole="sam" userRole=role mean=outcomeStats.sam.mean deviation=outcomeStats.sam.deviation amount=gameStatus.outcomes.sam meanFormat="$0,0.0" units="M"}}
      {{> zincit_rolestats roleName="Dr. Hasan" thisRole="hasan" userRole=role mean=outcomeStats.hasan.mean deviation=outcomeStats.hasan.deviation amount=gameStatus.outcomes.hasan meanFormat="$0,0.0" units="M"}}
      {{> zincit_rolestats roleName="Zincit Rep." thisRole="zincit" userRole=role mean=outcomeStats.zincit.mean deviation=outcomeStats.zincit.deviation amount=gameStatus.outcomes.zincit meanFormat="$0,0.0" units="M"}}
    </dl>
  {{else}}
    <p>
      Calculating stats...
    </p>
  {{/if}}

  <p>
    <strong>
      Answer code:
    </strong>
    For students who are taking this course for a
    certificate, we are using the code
    below as a way of verifying that you completed this assignment. The
    correct answer to the Zincit quiz is “Zums11235813”. Note that you
    should not include the quotation marks in your answer.
  </p>
</template>


<template name="zincit_rolestats">
  <dt>{{roleName}}:</dt>
  <dd>
    Mean
    <strong>{{formatNumerals mean meanFormat units}}</strong>;
    Standard deviation: <strong>{{formatNumerals deviation deviationFormat units}}</strong>.
    <br>Your outcome:
    {{#if zscore.sameAsMean}}
      the exact same as the mean.
    {{else}}
      {{formatNumerals zscore.value zscoreFormat}} standard
      deviations <em>{{zscore.direction}}</em> than the mean.
    {{/if}}
  </dd>
</template>
