<template name="index">

  {{#if splash }}
      <style type="text/css">
        body{
          background: url(splash-xs.jpg);

          /* Background image is centered vertically and horizontally at all times */
          background-position: center center;
          
          /* Background image doesn't tile */
          background-repeat: no-repeat;
          
          /* Background image is fixed in the viewport so that it doesn't move when 
             the content's height is greater than the image's height */
          background-attachment: fixed;
          
          /* This is what makes the background image rescale based
             on the container's size */
          background-size: cover;

          background-color: #8F8F85;

        }
        @media only screen and (min-width: 600px) {
          /* styles for wide screens */
          background: url(splash-sm.jpg);
        }
        @media only screen and (min-width: 1200px) {
          /* styles for wide screens */
          background: url(splash-md.jpg);
        }
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
          only screen and (min--moz-device-pixel-ratio: 2),
          only screen and (-moz-min-device-pixel-ratio: 2),
          only screen and (-o-min-device-pixel-ratio: 2/1),
          only screen and (min-device-pixel-ratio: 2),
          only screen and (min-resolution: 192dpi),
          only screen and (min-resolution: 2dppx) { 
          /* styles for Retina-type displays */
          background: url(splash-lg.jpg);

        }
      </style>
  {{/if}}

  <div class="row">
    <section class="col-md-4 col-md-offset-4 index-menu">
      <img src="barry-headshot.jpg" class="circle-head">
      <h1>
        <span>Professor Nalebuff's</span>
        Coursera Negotiation Games
      </h1>
      {{#if currentUser}}
        <ul>
          <li>
            <a href="{{pathFor route='ultimatum-game'}}">
              Ultimatum game
            </a>
          </li>
          <li>
            <a href="{{pathFor route='anchoring-game'}}">
              Anchoring game
            </a>
          </li>
        </ul>
      {{else}}
        {{> loginButtons}}
      {{/if}}
    </section>
  </div>
</template>

