<template name="index">

  <div class="row">
    <section class="col-md-4 col-md-offset-4 index-menu">
      <img src="barry-headshot.jpg" class="circle-head">
      <h1>
        <span>Professor Nalebuff's</span>
        Coursera Negotiation Games
      </h1>
      {{#if currentUser}}
        <ul>
          <li>
            <a href="{{pathFor route='ultimatum-game'}}">
              Ultimatum game
            </a>
          </li>
          <li>
            <a href="{{pathFor route='anchoring-game'}}">
              Anchoring game
            </a>
          </li>
        </ul>
      {{else}}
        {{> loginButtons}}
      {{/if}}
    </section>
  </div>
</template>

