<template name="ultimatum-game">
    <div class="row">
      <section class="greeting col-md-4 col-md-offset-4">
        Hi {{currentUser.profile.name}}. You are on
        step #{{stepNumber}} of the ultimatum game.
      </section>
    </div>
    <div class="row">
      <section class="col-md-4 col-md-offset-4">
        {{> UI.dynamic template=currTemplate}}
      </section>
    </div>
    <div class="row">
      <section class="col-md-4 col-md-offset-4">
        <!-- <button type="button" class="btn btn-default prevStep step-{{stepNumber}}">Previous</button> -->
        <button type="button" class="btn btn-default nextStep step-{{stepNumber}}">Next</button>
      </section>
    </div>
</template>

<template name="ultimatum-game-0">
  <p>
    In this game,
    as Player #1
    you are given $100 dollars and you have the option
    to give some to Player #2. We'd like to know how
    much you'd share as Player #1 and how much you'd
    demand as Player #2.
  </p>
</template>
<template name="ultimatum-game-1">
  <p>
    <strong>Great!</strong> Let's play.
  </p>
  {{#with round=0}}
    {{> ultimatum_price_choice_form }}
  {{/with}}
</template>

<template name="ultimatum_price_choice_form">
  <form id="ultimatum-price-choice-form">
    <div class="form-group">
      <label for="player1">As Player #1, how much would you share?</label>
      <input class="form-control" type="number" id="player1-amount" min="0" max="100" value="{{playerAmount 1}}">
    </div>
    <div class="form-group">
      <label for="player2">As Player #2, how much would you demand?</label>
      <input class="form-control" type="number" id="player2-amount" min="0" max="100" value="{{playerAmount 2}}">
    </div>
  </form>
</template>

<template name="ultimatum-game-2">
  <p>
    You have been paired with another player and you
    are in the role of the recipient. The other
    player has offered you <strong>${{offer}}</strong>.
  </p>
  <p>
    (It looks like you decided to demand <strong>${{demand}}</strong>,
    so you would reject this offer. Is that accurate?
    Please confirm below.)
  </p>
  
  <form id="ultimatum-accept-reject-form">
    <div class="form-group">
      <div>
        <label>
        <input type="radio" name="confirmReject" value="reject" checked>
        Reject their offer
        </label>
      </div>
      <div>
        <label>
        <input type="radio" name="confirmReject" value="accept">
        Accept their offer
        </label>
      </div>
    </div>
  </form>

</template>
<template name="ultimatum-game-3">
  {{> return_to_video }}
</template>
<template name="ultimatum-game-4">
  <p>
    <strong>Ok!</strong> Let's play again, for real this
    time. 
  </p>
  <p>
    Please input your two numbers again. You can pick the same numbers as before or change them based on what you've learned.
  </p>
  {{#with round=1}}
    {{> ultimatum_price_choice_form }}
  {{/with}}
</template>
<template name="ultimatum-game-5">
  {{> return_to_video }}
</template>
<template name="ultimatum-game-6">
  <p>
    {{#if acceptedOwn}}
      <strong>Congrats!</strong> you had the good sense to
      accept your own offer. Another {{acceptedOwnCount}}
      students did the same.
            Like you,  {{acceptedOwnCount}} ({{acceptedOwnPercent}}%) other students accepted their
      own offers. The remaining {{rejectedOwnCount}} ({{rejectedOwnPercent}}%) students
      rejected their own offers.

    {{else}}
      <strong>Whoops!</strong> Looks like you will turn down your own offer and get <strong>zero</strong>.
      Like you, {{rejectedOwnCount}} ({{rejectedOwnPercent}}%) other students rejected their
      own offers. The remaining {{acceptedOwnCount}} ({{acceptedOwnPercent}}%) students
      accepted their own offers.
    {{/if}}
  </p>
</template>
<template name="ultimatum-game-7">
  {{> return_to_video }}
</template>
<template name="return_to_video">
  <p>
    <strong>Thanks</strong>! Please return to the Coursera
    video. When you are ready for the next step, please 
    click "Next", below.
  </p>
</template>

<template name="ultimatum-game-8">
<p>Your offer was <strong>${{offer}}</strong>. The average payoff for <strong>${{offer}}</strong> was <strong>${{offerPayoff}}</strong>.</p>

<p>The way to calculate those payoffs is as follows. We formulate a CDF of thevalues of Ys that have been inputted. Then the average payoff for X is X * G(Y), where G(Y) is the fraction of people who would accept Y or less.</p>

<p>The lowest offer you’d accept was <strong>${{demand}}</strong>. The average payoff for <strong>${{demand}}</strong> was <strong>${{demandPayoff}}</strong>.</p>

<p>The way to calculate those payoffs is as follows. We formulate a CDF of thevalues of Xs that have been inputted. Then the average payoff for Y is 
Sum of all the values of X ≥ Y times the frequency of those values.</p>

<p>Here is a list of the average payoffs for each possible offer …</p>

</template>
