<template name="ultimatum-game">
    <div class="row">
      <section class="col-md-4 col-md-offset-4">
        {{> UI.dynamic template=currTemplate}}
      </section>
    </div>
    <div class="row">
      <section class="col-md-4 col-md-offset-4">
        <!-- <button type="button" class="btn btn-default prevStep step-{{stepNumber}}">Previous</button> -->
        <button type="button" class="btn btn-default nextStep step-{{stepNumber}}">Next</button>
      </section>
    </div>
</template>

<template name="ultimatum-game-0">
  <p>
    In this game,
    as Player #1
    you are given $100 dollars and you have the option
    to give some to Player #2. We'd like to know how
    much you'd share as Player #1 and how much you'd
    demand as Player #2.
  </p>
</template>
<template name="ultimatum-game-1">
  <form id="ultimatum-form-1">
    <div class="form-group">
      <label for="player1">As Player #1, how much would you share?</label>
      <input class="form-control" type="number" id="player1-amount" min="0" max="100" value="{{playerAmount 1}}">
    </div>
    <div class="form-group">
      <label for="player2">As Player #2, how much would you demand?</label>
      <input class="form-control" type="number" id="player2-amount" min="0" max="100" value="{{playerAmount 2}}">
    </div>
  </form>
</template>
<template name="ultimatum-game-2">
  <p>
    You have been paired with another player and you
    are in the role of the recipient. The other
    player has offered you <strong>${{offer}}</strong>.
  </p>
  <p>
    (It looks like you decided to demand <strong>${{demand}}</strong>,
    so you would reject this offer. Is that accurate?
    Please confirm below.)
  </p>
  
  <form id="ultimatum-form-1">
    <div class="form-group">
      <div>
        <label>
        <input type="radio" name="confirmReject" value="reject" checked>
        Reject their offer
        </label>
      </div>
      <div>
        <label>
        <input type="radio" name="confirmReject" value="accept">
        Accept their offer
        </label>
      </div>
    </div>
  </form>

</template>
<template name="ultimatum-game-3">
  <p>
    <strong>Thanks</strong>! Please return to the Coursera
    video. When you are ready for the next step, please 
    click "Next", below.
  </p>
</template>
<template name="ultimatum-game-4">
</template>
<template name="ultimatum-game-5">
</template>
