<template name="ultimatum-game">
  <div class="row">
    <section class="breadcrumb-holder col-md-6 col-md-offset-3">
      <ol class="breadcrumb">
        <li>
          <a href="/">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Home
          </a>
        </li>
        <li class="active">The ultimatum game</li>
      </ol>      
    </section>
  </div>
  <div class="row">
    <section class="greeting col-md-6 col-md-offset-3">
      The ultimatum game
      <span>step #{{stepNumber1}} of {{totalSteps1}}</span>
    </section>
  </div>
  <div class="row">
    <section class="col-md-6 col-md-offset-3">
      {{> UI.dynamic template=currTemplate}}
    </section>
  </div>
  <div class="row">
    <section class="next col-md-6 col-md-offset-3">
      {{#unless isDone}}
        <button type="button" class="btn btn-default nextStep step-{{stepNumber}}" disabled="{{getSessionVariable 'disableNext'}}">Next</button>
      {{/unless}}
    </section>
  </div>
</template>

<template name="ultimatum-game-0">
  <p>
    In this game, there is {{> dollars amount=100}} to divide between two players if they can agree on the division. Player #1 will make an offer to Player #2 who will either accept or reject. If Player #2 rejects, they both get {{> dollars amount=0}}.
  </p>
  <p>
    We want you to consider what you would do in the role of Player #1 and Player #2. Specifically, how much would you offer as Player #1 and what is the smallest amount you’d be willing to accept as Player #2?
  </p>
</template>
<template name="ultimatum-game-1">
  {{#with round=0}}
    {{> ultimatum_price_choice_form }}
  {{/with}}
</template>

<template name="ultimatum_price_choice_form">
  <form id="ultimatum-price-choice-form">
    <div class="form-group">
      <label for="player1" class="control-label">As Player #1,  how much would you&nbsp;offer?</label>
      <input class="form-control validate-number" type="number" id="player1-amount" min="0" max="100" value="{{playerAmount 1}}">
      <p class="help-block">(Please enter a number between 0-100.)</p>

    </div>
    <div class="form-group">
      <label for="player2" class="control-label">As Player #2, what is the smallest amount you’d&nbsp;accept?</label>
      <input class="form-control validate-number" type="number" id="player2-amount" min="0" max="100" value="{{playerAmount 2}}">
      <p class="help-block">(Please enter a number between 0-100.)</p>

    </div>
  </form>
</template>

<template name="ultimatum-game-2">
  <p>
    You were chosen to receive the proposal. The other side has offered you
    {{> dollars amount=demandMinusOne}}.
  </p>

  <p>
    Since {{> dollars amount=demand}} is the least you are willing to accept, it looks like you will reject this offer? Is that right? Do you really want to reject that offer and end up with {{> dollars amount=0}}?
  </p>
  
  <form id="ultimatum-accept-reject-form">
    <div class="form-group">
      <div>
        <label>
        <input type="radio" name="confirmReject" value="reject" checked>
        Reject their {{> dollars amount=demandMinusOne}} offer to receive {{> dollars amount=0}}.
        </label>
      </div>
      <div>
        <label>
        <input type="radio" name="confirmReject" value="accept">
        Accept their {{> dollars amount=demandMinusOne}} offer to receive {{> dollars amount=demandMinusOne}}.
        </label>
      </div>
    </div>
  </form>

</template>
<template name="ultimatum-game-3">
  {{> return_to_video }}
</template>
<template name="ultimatum-game-4">
  <p>
    Please input your two numbers again. You can pick the same numbers as before or change them based on what you've learned.
  </p>
  {{#with round=1}}
    {{> ultimatum_price_choice_form }}
  {{/with}}
</template>
<template name="ultimatum-game-5">
  <p>
    {{#if acceptedOwn}}

      The first person we matched you up with was… you! Looks like you had the good sense to accept your own offer. {{englishNumber acceptedOwnCount true}} ({{acceptedOwnPercent}}%) other students did the same. The remaining {{englishNumber rejectedOwnCount}} ({{rejectedOwnPercent}}%) rejected their own offers.

    {{else}}
      The first person we matched you up with was&hellip;you! Looks like you turned down your own offer and got zero. Like you, {{englishNumber rejectedOwnCount}} ({{rejectedOwnPercent}}%)  other students rejected their own offers. The remaining {{englishNumber acceptedOwnCount}} ({{acceptedOwnPercent}}%) accepted their own offers.

    {{/if}}
  </p>
</template>
<template name="ultimatum-game-6">
  {{> return_to_video }}
</template>
<template name="return_to_video">
  <p>
    <strong>Thanks!</strong> Please return to the Coursera video. When you are ready for the next step, click &ldquo;Next&rdquo; below.
  </p>
</template>

<template name="ultimatum-game-7">
  <p>
    Your offer was {{> dollars amount=player1amount}}.  The other Player #2s would have accepted this offer {{player2CDF player1amount}}% of the time. Thus the average payoff for an offer of {{> dollars amount=player1amount}} is {{> dollars amount=player1payoff}}.
  </p>

  <p>
    The lowest offer you'd accept was {{> dollars amount=player2amount}}.
    Of the other Player #1s,
    {{player1CDFinv player2amount}}% offered that amount or more (and thus you accepted). Your average payoff as Player #2 is {{> dollars amount=player2payoff}}. This is {{player2efficiency}}% of the payoff from the profit-maximizing choice that comes from accepting all positive offers.
  </p>

  <p>Here is a chart showing the average payoffs for each possible offer:</p>

  <div class="ultimatum-payoff-chart">
  </div>

  {{#if isInRole 'admin'}}
    <hr>
    <p>
      Because you are an admin, we're showing you some payoff
      statistics here. In the table below the "player1 CDF"
      column shows the percent of users that choose
      a "player1" amount  that is
      less than or equal to the amount in a particular row.
      The player1 payoff shows the payoff for choosing that
      amount as player1. The equivalent applies to the "player2"
      columns.
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Amount
          </th>
          <th>
            player1 CDF
          </th>
          <th>
            player1 payoff
          </th>
          <th>
            player2 CDF
          </th>
          <th>
            player2 payoff
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each possibleAmounts}}
          <tr>
            <td>
              ${{amount}}
            </td>
            <td>
              {{player1CDF amount}}%
            </td>
            <td>
              {{player1payoff amount}}
            </td>
            <td>
              {{player2CDF amount}}%
            </td>
            <td>
              {{player2payoff amount}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table> 
    <p>
      The following table shows all the 
      amounts chosen by all the players.
    </p>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Player 1 amount
          </th>
          <th>
            Player 2 amount
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each playerAmounts}}
          <tr>
            <td>
              ${{p1}}
            </td>
            <td>
              ${{p2}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table> 
  {{/if}}

  {{> done}}

</template>

<template name="dollars">
  <strong>${{amount}}</strong>
</template>